@layer base {
  html {
    font-family: "gilroy", system-ui, sans-serif;
    font-weight: 200;
    font-size: 14px;
    height: 100%;
   
    
  }
  body{
    height: 100%;
  }
  h2{

    font-size:1.5em;
    font-weight: bold;
  }

  
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

}
